<div class="bg-blue-100 h-fit">

    <div class=" flex flex-col md:flex-row justify-center ">

        <p class="ml-auto mr-auto mt-3 font-semibold"><span class="text-2xl font-bold">Text Repeater</span> <br>for WhatsApp, Instagram, Telegram and More</p>

        <!-- First Container Start -->
        <div
            class="mx-auto p-10 mt-10 items-center flex flex-col w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="mb-6 mt-3 w-full">
                <div class="flex items-center justify-between">
                    <label for="input" class="block text-sm font-medium text-gray-900 dark:text-white">Text to
                        repeat</label>
                    <button type="button" (click)="clearText()"
                        class="mb-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Clear
                        text</button>
                </div>
                <textarea id="input" rows="4" [(ngModel)]="inputText"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter Text...">
                </textarea>
            </div>


            <div>
                <label for="phone" id="times"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Times</label>
                <input [(ngModel)]="times" type="number" id="phone" value="10"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required />
            </div>

            <div class="p-5 mt-6">
                <a (click)="repeat()"
                    class=" cursor-pointer inline-flex items-center px-6 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Repeat text
                </a>
            </div>
        </div>
        <!-- First Container Start -->


        <!-- Second Container Start -->
        <div
            class="mx-auto p-10 mb-14 mt-10 items-center flex flex-col w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="mb-6 mt-3 w-full">
                <div class="flex items-center justify-between">

                    <label for="output"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Output</label>
                    <button type="button" (click)="clearOutput()"
                        class="mb-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Clear
                        text</button>

                </div>
                <textarea disabled id="output" rows="4" [(ngModel)]="outputText"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Repeated text appears here">
                </textarea>

            </div>

            <div class="p-5 mt-16">
                <a (click)="copyText()"
                    class=" cursor-pointer inline-flex items-center px-6 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Copy text
                </a>
            </div>
        </div>
        <!-- Second Container End -->


    </div>
</div>